@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@mixin grid-center {
    display: grid;
    place-items: center;
}
@mixin flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin transition($properties, $duration: 0.3s, $ease: ease-in-out) {
    transition: $properties $duration $ease;
}

@mixin box-shadow($x: 0px, $y: 4px, $blur: 6px, $color: rgba(0, 0, 0, 0.1)) {
    box-shadow: $x $y $blur $color;
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin hover-effect($color: $PRIMARY-COLOR) {
    &:hover {
        color: $color;
        @include transition(all, 0.3s);
    }
}

@mixin gradient-background($start-color, $end-color, $direction: to right) {
    background: linear-gradient($direction, $start-color, $end-color);
}
@mixin responsive-font($min-size, $max-size, $min-vw: 320px, $max-vw: 1200px) {
    font-size: calc(#{$min-size} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-vw}) / (#{$max-vw} - #{$min-vw})));
}
