@use "global" as *;
@use "variables" as *;
@use "mixins" as *;
@use "media" as *;

.top-header {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 1;
  width: 100%;
  color: $WHITE;
  @include flex-row;
  gap: 30%;
  //font-size: 1rem;
  font-size: clamp(0.85rem, calc(1rem + 1vw), 1.4rem);
  .nav-bar {
    position: relative;
    @include flex-row;
  }
  .nav-links {
    @include flex-row;
    gap: 2rem;
  }
  .hamburger-menu {
    display: none;
    z-index: 100;
    &:hover {
      cursor: pointer;
    }
  }
}
.logo {
  position: sticky;
  top: 2rem;
}
.header-img {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.context {
  padding: 1rem 3rem;
  border: 1px solid $WHITE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60ch;
  height: min-content;
  text-align: left;
  color: $WHITE;
  text-transform: uppercase;
  background-color: transparent;
  h1 {
    font-family: $body-font-family;
    font-weight: 340;
    font-size: clamp(1.5rem, calc(2rem + 5vw), 3rem);
    letter-spacing: 0.8rem;
    line-height: 1.1;
  }
}
.vr-interactive {
  margin: 5rem;
  height: max-content;
  overflow: hidden;
  width: 100%;
  img {
    position: sticky;
    z-index: -1;
    width: 50%;
    left: 50%;
    transform: translate(-80%);
  }
  .content {
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    position: relative;
    width: 50%;
    transform: translate(90%, -100%);
    background-color: $WHITE;
    padding: 2rem 1rem;
    text-align: left;
    h1 {
      text-transform: uppercase;
      font-size: clamp(1rem, calc(2rem + 0.5vw), 2rem);
      letter-spacing: 0.8rem;
      font-family: $body-font-family;
      font-weight: $heading-font-weight;
    }
    p {
      font-family: $body-font-family;
      font-family: $body-font-family;
      font-size: 1rem;
      width: 48ch;
      text-align: left;
    }
  }
}
.creation {
  width: 95%;
  @include flex-row;
  @include flex-space-between;
  h2 {
    font-size: clamp(0.95rem, calc(1rem + 1vw), 1.5rem);
    text-align: center;
  }
  .btn {
    font-size: clamp(0.95rem, calc(1rem + 1vw), 1.5rem);
    font-weight: 300;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
  }
}
.creations {
  position: sticky;
  width: 95%;
  margin: 2rem 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  div {
    width: 100%;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      img {
        opacity: 0.4;
      }
      h2 {
        color: $BLACK;
        opacity: 1;
        z-index: 1;
      }
    }
  }
  img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  h2 {
    color: $WHITE;
    position: relative;
    z-index: 1;
    font-size: clamp(1.2rem, calc(1rem + 0.5vw), 2rem);
    text-align: center;
    padding: 0.2rem 0.5rem;
    transform: translate(0, -200%);
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.5rem 1rem;
  .contacts {
    width: 45%;
    @include flex-space-between;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    img {
      overflow: hidden;
    }
    span {
      color: $GREY-400;
    }
    .social-links {
      @include flex-space-between;
      flex-direction: row;
      gap: 1rem;
      a:hover {
        .line {
          width: 100%;
          transform: translate(0%, 0.6rem);
          height: 0;
          border-bottom: 1px solid $WHITE;
          opacity: 1;
        }
      }
    }
  }
  .links-l {
    font-size: clamp(1rem, calc(1rem + 0.5vw), 1rem);
    @include flex-space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    ul {
      @include flex-space-between;
      width: 40%;
    }
    span {
      text-align: center;
      height: 2rem;
    }
  }
}
.logo2 {
  width: 4rem;
  img {
    overflow: hidden;
  }
}

#drop-menu {
  @include flex-space-between;
  flex-direction: column;
  position: absolute;
  background-color: $BLACK;
  color: $WHITE;
  z-index: 2;
  right: 0;
  width: 100vw;
  align-items: center;
  justify-content: center;
  .logo {
    position: relative;
    @include flex-space-between;
    flex-direction: row;
    margin: 1rem 3rem 4rem 3rem;
  }
  ul {
    padding: 5rem 2rem;
    @include flex-space-between;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    background-color: $BLACK;
  }
  li {
    width: fit-content;
  }
}

/* media query */

@media screen and (max-width: 800px) {
  header .context {
    border: 1px solid $WHITE;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 1.4rem;
    letter-spacing: 0.2rem;
    h1 {
      font-size: clamp(1.2rem, calc(1rem + 0.5vw), 2.5rem);
    }
  }

  .header-img {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 30rem;
    z-index: -1;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vr-interactive {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0rem;
    img {
      position: relative;
      left: auto;
      height: 100%;
      width: 100%;
      overflow: hidden;
      transform: translate(0, 0);
    }
    .content {
      height: 100%;
      width: 100%;
      transform: translate(0, 0);
      p {
        width: fit-content;
      }
      h1 {
        letter-spacing: normal;
      }
    }
  }
  .top-header .hamburger-menu {
    display: block;
  }
  .top-header {
    .nav-bar {
      display: block;
      .nav-links {
        display: none;
        li {
          height: 3rem;
          opacity: 1;
          background-color: $BLACK;
        }
      }
    }
  }
  .creations {
    div {
      position: relative;
      overflow: hidden;
      height: 11rem;
      img {
        position: absolute;
        overflow: hidden;
        height: auto;
      }
      h2 {
        position: relative;
        transform: translate(0, 0);
        text-overflow: ellipsis;
      }
    }
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    .contacts {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      span {
        font-size: clamp(0.8rem, calc(0.8rem + 0.5vw), 1em);
      }
      .social-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        a img {
          overflow: hidden;
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }
  }

  .links-l {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: max-content;
    .loop-links {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: max-content;
    }
    #logo-b {
      width: 50%;
      align-self: center;
    }
  }
}
