@use "global" as *;
@use "variables" as *;
@use "mixins" as *;

/* Additional custom styles can be added below */
.top-header {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 1000;
  width: 100%;
  color: $WHITE;
  padding: 0.5rem 2rem;
  @include flex-row;
  gap: 30%;
  font-size: 0.9rem;
  .nav-bar {
    @include flex-row;
  }
  .nav-links {
    @include flex-row;
    gap: 2rem;
  }
}
.header-img {
  position: relative;
  top: 0;
  left: 0;
  overflow: cover;
  width:100%;
  height: 30rem;
  z-index: -1;
}

.context {
  padding: 1rem 3rem;
  border: 1px solid $WHITE;
  position: absolute;
  top: 12rem;
  left: 16%;
  width: 45ch;
  height: min-content;
  text-align: left;
  color: $WHITE;
  text-transform: uppercase;
  font-family: $heading-font-family;
  background-color: transparent;
  h1 {
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    line-height: 1.1;
  }
}
.vr-interactive {
  margin: 5rem 0 0 0;
  height: max-content;
  overflow: hidden;
  width: 100%;
  margin-bottom: -20%;
  img {
    position:sticky;
    z-index: -1;
    width: 50%;
    left: 20%;
  }
  .content {
    font-family: $heading-font-family;
    position: relative;
    width: 50%;
    transform: translate(110%, -100%);
    background-color: $WHITE;
    padding: 2rem 1rem;
    text-align: left;
    h1 {
      text-transform: uppercase;
      font-size: 2.2rem;
      letter-spacing: 0.1rem;
      font-weight: 140;
      width: 14ch;
    }
    p {
      font-size: 1rem;
      width: 52ch;
      text-align: left;
      font-weight: 130;
    }
  }
}
.creation{
  width: 95%;
  @include flex-row;
  @include flex-space-between;
  span{
    font-size: clamp(1rem, calc(1rem + 1vw), 2rem);
    font-weight: 150;
  }
  button{
    font-size: clamp(0.75rem, calc(1rem + 1vw), 1rem);
    font-weight: 150;
    padding: 0.5rem 2rem;
    &:hover{
      background-color: bisque;
    }
  }
}
.creations{
  width: 95%;
  margin: 2rem 0;
  display: grid; 
  place-items: center; 
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position:relative;
    z-index: -1;
  }
  span{
    color: $WHITE;
    position:absolute;
    z-index: 1;
    transform: translate(03%, -200%);
    font-size: clamp(1rem, calc(1rem + 1vw), 2rem);
    width: 12ch;
    font-weight: 200;
  }
}