@use "global" as *;
@use "variables" as *;
@use "mixins" as *;
@use "media" as *;

/* Additional custom styles can be added below */
.top-header {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 1000;
  width: 100%;
  color: $WHITE;
  @include flex-row;
  gap: 30%;
  font-size: 1rem;
  .nav-bar {
    @include flex-row;
  }
  .nav-links {
    @include flex-row;
    gap: 2rem;
  }
  .hamburger-menu {
    display: none;
    //opacity: 0;
  }
}
.header-img {
  position: relative;
  top: 0;
  left: 0;
  overflow: cover;
  width: 100%;
  height: 30rem;
  z-index: -1;
}

.context {
  padding: 1rem 3rem;
  border: 1px solid $WHITE;
  position: absolute;
  top: 12rem;
  left: 16%;
  width: 45ch;
  height: min-content;
  text-align: left;
  color: $WHITE;
  text-transform: uppercase;
  font-family: $heading-font-family;
  background-color: transparent;
  h1 {
    font-size: clamp(2rem, calc(2rem + 0.5vw), 3rem);
    font-weight: 150;
    letter-spacing: 0.1rem;
    line-height: 1.1;
  }
}
.vr-interactive {
  margin: 5rem 0 0 0;
  height: max-content;
  overflow: hidden;
  width: 100%;
  margin-bottom: -20%;
  img {
    position: sticky;
    z-index: -1;
    width: 50%;
    left: 20%;
  }
  .content {
    font-family: $heading-font-family;
    position: relative;
    width: 50%;
    transform: translate(110%, -100%);
    background-color: $WHITE;
    padding: 2rem 1rem;
    text-align: left;
    h1 {
      text-transform: uppercase;
      font-size: clamp(2rem, calc(2rem + 0.5vw), 3rem);
      letter-spacing: 0.1rem;
      font-weight: 140;
    }
    p {
      font-size: 1rem;
      width: 52ch;
      text-align: left;
      font-weight: 130;
    }
  }
}
.creation {
  width: 95%;
  @include flex-row;
  @include flex-space-between;
  span {
    font-size: clamp(1rem, calc(1rem + 1vw), 2rem);
    font-weight: 150;
  }
  button {
    font-size: clamp(0.75rem, calc(1rem + 1vw), 1rem);
    font-weight: 150;
    padding: 0.5rem 2rem;
  }
}
.creations {
  width: 95%;
  margin: 2rem 0;
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  div {
    width: 100%;
    overflow: hidden;
  
    &:hover {
      cursor: pointer;
      opacity: 0.99;
      background-image: linear-gradient($WHITE);
      color: $BLACK;
      img {
        opacity: 0.4;
      }
      span {
        color: $BLACK;
        font-weight: 250;
        opacity: 1;
        z-index: 1;
      }
    }
  }
  img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
  }
  span {
    color: $WHITE;
    position: absolute;
    z-index: 1;
    transform: translate(03%, -200%);
    font-size: clamp(1rem, calc(1rem + 0.5vw), 2rem);
    font-weight: 200;
    text-align: center;
    padding: 0.2rem 0.5rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
  gap: 1rem;
  .contacts {
    width: 70%;
    @include flex-space-between;
    img {
      overflow: hidden;
    }
    span {
      color: $GREY-400;
    }
    .social-links {
      width: 15%;
      @include flex-row;
      gap: 1rem;
      a:hover {
        .line {
          width: 100%;
          transform: translate(0%, 0.6rem);
          height: 0;
          border-bottom: 1px solid $WHITE;
          opacity: 1;
        }
      }
    }
  }
  .links-l {
    font-size: clamp(0.9rem, calc(0.75rem + 0.5vw), 1rem);
    @include flex-space-between;
    width: 70%;
    ul {
      width: 40%;
      @include flex-space-between;
    }
    span {
      text-align: center;
      height: 2rem;
    }
  }
}
.logo2 {
  height: 0;
  margin: 0;

  height: max-content;
  padding: 1rem;
  img {
    overflow: cover;
    transform: translate(200%, 220%);
  }
}

@media screen and (max-width: 445px) {
  header .context {
    border: 1px solid $WHITE;
    width: 60%;
    padding: 1rem;
    h1 {
      font-size: clamp(1.5rem, calc(1rem + 0.5vw), 2.5rem);
      width: auto;
    }
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vr-interactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    height: max-content;
    img {
      position: relative;
      left: auto;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    .content {
      height: 100%;
      width: 100%;
      transform: translate(0, 0);
      p {
        width: fit-content;
      }
    }
  }
  .top-header .hamburger-menu {
    display: block;
  }
  .top-header {
    .nav-bar {
      width: fit-content;
      height: fit-content;
      .nav-links {
        li {
          display: none;
          opacity: 0;
          width: 0;
          height: 0;
        }
      }
    }
  }
  .creations {
    div {
      position: sticky;
      overflow: hidden;
      height: 12rem;
      img {
        position: relative;
        overflow: hidden;
        height: auto;
      }
      span{
        font-weight: 200;
        transform: translate(10%, -1800%);
      }
    }
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .contacts {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      img {
        width: max-content;
        overflow: cover;
      }
      .social-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        a img {
          overflow: cover;
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }
  }
  .logo2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $BLACK;
    height: max-content;
    padding: 1rem;
    img {
      width: 50%;
      transform: translate(0, 0);
    }
  }
  .links-l {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: max-content;
    img {
      width: 100%;
    }
    .loop-links {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: max-content;
    }
  }
}
