@import url("https://fonts.googleapis.com/css2?family=Alata&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

$WHITE: hsl(0, 0%, 100%);
$BLACK: hsl(0, 0%, 0%);
$GREY-200: hsl(0, 0%, 85%);
$GREY-400: hsl(0, 0%, 60%);
$GREY-600: hsl(0, 0%, 40%);
$PRIMARY-COLOR: hsl(220, 90%, 56%);
$SECONDARY-COLOR: hsl(340, 82%, 52%);
$FONT-SIZE-BASE: 16px;
$LINE-HEIGHT-BASE: 1.5;

$heading-font-family: "Alata", sans-serif;
$heading-font-weight: 300;
$body-font-family: "Josefin Sans", sans-serif;
$body-font-weight: 400;

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}